export SCW_ACCESS_KEY="SCWxxxxxxx"
export SCW_SECRET_KEY="c2a2a5dd-xxxxx"
export SCW_DEFAULT_PROJECT_ID="c96fe71c-xxxxx"
export SCW_DEFAULT_REGION="fr-par"
export SCW_DEFAULT_ZONE="fr-par-2"

export TF_VAR_scw_access_key="$SCW_ACCESS_KEY"
export TF_VAR_scw_secret_key="$SCW_SECRET_KEY"
export TF_VAR_scw_project_id="$SCW_DEFAULT_PROJECT_ID"

export PACKER_LOG=1
export PACKER_LOG_PATH="./packer.log"